  *,
:before,
:after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

p{
  margin:0;
}

body{
  font-size: 14px;
  line-height: 22px;
}

/* --------------------wrapper-------------- */
.wrapper{
  width:100%;
  overflow: hidden;
}

/* --------------------container-------------- */
.container{
  width: 100%;
  max-width: 980px;
  padding:0 10px;
  margin: 0 auto;
}

/* --------------------header-------------- */
header.header{
  display: grid;
  grid-template-columns: 12.5% 28% 53.5%;
  grid-gap: 3%;
  min-height: 110px;
  padding-top: 29px;
  padding-bottom: 23px;

}

header.header div{
  width: 100%;
  background-color: #252424;
}


.header__more{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

header.header div.header__more__items{
  margin-right: 15px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

.header__more__items a{
  color: #fff;
}

.header__more__items a.tel{
  text-decoration: none;
}

/* -----------------------------------content-------------------------- */
section.content{
  padding-top: 23px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
/* -----------menu---------- */
nav.menu{
  margin-right: 20px;
  padding: 20px 13px;
  width: 100%;
  max-width: 184px;
  background-color: #252424;
}

nav.menu li{
  list-style-type: none;
}

nav.menu a{
  color: #fff;
  text-decoration: none;
}

nav.menu a.active{
  font-weight: bold;
}
/* -----------main---------- */
main.main{
  width: 100%;
  max-width: 754px;
}
.main__top{
  padding: 20px;
  width: 100%;
  min-height:208px;
  background-color: #DCDCDC;
}
.main__center{
  margin: 0 -11px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main__center div{
  margin: 11px 10px;
  padding: 10px;
  width: 135px;
  min-height: 150px;
  background-color: #DCDCDC;
}
.main__bottom{
  margin: 0 -9px;
  display: flex;
  justify-content: space-between;
}

.main__bottom div{
  max-width: 368px;
  padding: 10px;
  margin: 0 9px;
  background-color: #DCDCDC;
}
/* --------------------footer-------------- */
footer.footer{
  padding:25px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer__left{
  padding: 15px 25px;
  margin-right: 12px;
  width: 100%;
  max-width: 297px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #252424;

}

.footer__left li{
  list-style-type: none;
}


.footer__left li a{
  color: #fff;
  text-decoration: none;
}

.footer__center{
  padding: 17px 34px 17px 43px;
  margin-right: 12px;
  width: 100%;
  max-width: 296px;
  background-color: #252424;
}

.footer__center li{
  list-style-type: none;
}

.footer__center li a{
  color: #fff;
  text-decoration: none;
}

.footer__center li a:before{
  content:'\25AA';
  font-size:17px;
  margin-right: 5px;
}

.footer__right{
  width: 100%;
  max-width: 308px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__right__itom{
  padding: 15px 25px;
  width: 100%;
  min-height:73px;
  background-color: #252424;
}

.footer__right__itom:first-child{
  margin-bottom: 28px;
}

/* -----------------------------------@media-------------------------- */

@media(max-width:670px){

header.header{
  grid-template-columns: 20% 77%;
  grid-template-rows: 1fr 1fr;

}

.header__more{
  grid-column-start: 1;
  grid-column-end: 3;
}

section.content{
  flex-direction: column;
}

nav.menu{
  margin-right: 0;
  margin-bottom: 25px;
  max-width: 100%;

}

.main__center{
  justify-content: center;
}

footer.footer{
  flex-direction: column;
}

.footer__left{
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 25px;
}

.footer__center{
  max-width: 100%;
  margin-bottom: 25px;
}

.footer__right{
  max-width: 100%;
}

}

@media(max-width:468px){
  .main__bottom{
    flex-direction: column;
  }

  .main__bottom div{
    max-width: 100%;
  }

  .main__bottom div:first-child{
    margin-bottom: 25px;
  }

}

